# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.AppliSkills.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\acer\Documents\M1\Info706\TPInfo706\AppliSkills\.idea\.idea.AppliSkills\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
