# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.AppliSkills.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Hamze\Desktop\AppliSkills\AppliSkills\.idea\.idea.AppliSkills.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
